@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    --dark-blue: hsl(218, 23%, 16%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --grayish-blue: hsl(217, 19%, 38%);
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background: var(--dark-blue);
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
}

.advice-container {
    background-color: var(--dark-grayish-blue);
    width: 50%;
    height: 40vh;
    border-radius: 25px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    position: relative;
}

.advice-container .advice-number {
    color: var(--neon-green);
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 1rem;
}

.advice-container .advice-text {
    color: white;
    text-align: center;
}

.advice-container .separator {
    background: url("./images/pattern-divider-desktop.svg") no-repeat center;
    height: 2rem;
    width: 100%;
}

.advice-container .advice-generator {
    width: 80px;
    height: 80px;
    background-color: var(--neon-green);
    position: absolute;
    bottom: -30px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.advice-container .advice-generator:hover {
    box-shadow: 0 0 50px 10px var(--neon-green);
}

.advice-container .advice-generator img {
    width: 50%;
}


/* ATTRIBUTION */
.attribution {
    margin-top: 5rem;
    font-size: 1rem;
    text-align: center;
    color: white;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* MOBILE */
@media only screen and (max-width: 400px) {
    .advice-container {
        width: 100%;
    }
}
